[submodule "core/tensorflow-pix2pix"]
	path = core/tensorflow-pix2pix
	url = https://github.com/MathieuTuli/tensorflow-pix2pix.git
[submodule "core/src/uhinet/backend/pytorch-CycleGAN-and-pix2pix"]
	path = core/src/uhinet/backend/pytorch-CycleGAN-and-pix2pix
	url = https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix
