<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Map</title>
    <script type='text/javascript' src='key.js' async defer></script>
    <script type="text/javascript" src="map.js"></script>
    <link rel="stylesheet" type="text/css" href="map.css">
  </head>
  <body>
    <div id='floating-panel'>
      <input onclick="removePolygon();" type=button value="Delete Polygon"> 
      <input onclick="addPolygon();" type=button value="Create Polygon"> 
      <input onclick="clearMarkers();" type=button value="Hide All Markers"> 
      <input onclick="showMarkers();" type=button value="Show All Markers"> 
      <input onclick="deleteMarkers();" type=button value="Delete markers"> 
    </div>
    <div id="map"></div>
  </body>
</html>

