<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Map</title>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{ url_for('static', filename='map_single_polygon.js') }}"></script>
    <script type="text/javascript" src="{{ key }}" async defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='map_single_polygon.css') }}">
  </head>
  <body>
    <div id='floating-panel'>
      <input onclick="removePolygon();" type=button value="Delete Polygon"> 
      <input onclick="addPolygon();" type=button value="Create Polygon"> 
      <input onclick="clearMarkers();" type=button value="Hide All Markers"> 
      <input onclick="showMarkers();" type=button value="Show All Markers"> 
      <input onclick="deleteMarkers();" type=button value="Delete markers"> 
      <input id=send_coords_button type=button value="Send coordinates">
    </div>
    <div id="map"></div>
  </body>
</html>
